@using Renewable_Energy_Entities
@model List<AboutUs>

<!-- =========================
        Header
    =========================== -->
<header class="header header-layout1">
    <div class="header-topbar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                            <li>
                                <i class="icon-mail"></i>
                                <a href="mailto:Solatec@7oroof.com">Email: @Model.FirstOrDefault()?.Email</a>
                            </li>
                            <li>
                                <i class="icon-clock"></i>
                                <a href="@Url.ActionLink("Contact","AboutUs")">@Model.FirstOrDefault()?.WorkingTimes</a>
                            </li>
                            <li>
                                <i class="icon-location color-primary"></i>
                                <a href="@Url.ActionLink("Contact","AboutUs")" class="color-primary">Konum</a>
                            </li>
                        </ul><!-- /.contact__list -->
                        <div class="d-flex align-items-center">
                            <ul class="social-icons list-unstyled mb-0 mr-20">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul><!-- /.social-icons -->
                        </div>
                    </div>
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-top -->
    <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.ActionLink("Index","Home")">
                <img src="~/images/logo/logo.png" class="logo" alt="logo">
            </a>
            <button class="navbar-toggler" type="button">
                <span class="menu-lines"><span></span></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="navbar-nav">
                    <li class="nav__item has-dropdown">
                        <a href="@Url.ActionLink("Index","Home")" class="nav__item-link active">Ana Sayfa</a>
                    </li>
                    <li class="nav__item has-dropdown">
                        <a href="@Url.ActionLink("Project","Project")" class="nav__item-link">Projelerimiz</a>
                        <button class="dropdown-toggle" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Project", "Project")?selected=ruzgar" class="nav__item-link">Rüzgar Türbinleri</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Project", "Project")?selected=su" class="nav__item-link">Su Türbinleri</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Project", "Project")?selected=gunes" class="nav__item-link">Güneş Panalleri</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Project", "Project")?selected=jeo" class="nav__item-link">Jeotermal Türbin</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Project", "Project")?selected=jene" class="nav__item-link">Jeneratör</a>
                            </li><!-- /.nav-item -->
                        </ul><!-- /.dropdown-menu -->
                    </li><!-- /.nav-item -->
                    <li class="nav__item has-dropdown">
                        <a href="@Url.ActionLink("Blog","Blog")" class="nav__item-link">Bloglar</a>
                        <button class="dropdown-toggle" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Blog", "Blog")?selected=gunes" class="nav__item-link">Güneş Panelleri</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Blog", "Blog")?selected=ruzgar" class="nav__item-link">Rüzgar Türbinleri</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Blog", "Blog")?selected=su" class="nav__item-link">Su Türbinleri</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Blog", "Blog")?selected=jeo" class="nav__item-link">Jeotermal Türbin</a>
                            </li><!-- /.nav-item -->
                            <li class="nav__item">
                                <a href="@Url.ActionLink("Blog", "Blog")?selected=jene" class="nav__item-link">Jeneratör</a>
                            </li><!-- /.nav-item -->
                        </ul><!-- /.dropdown-menu -->
                    </li><!-- /.nav-item -->
                    <li class="nav__item has-dropdown">
                        <a href="@Url.ActionLink("Reference","Reference")" class="nav__item-link">Referanslar</a>
                    </li><!-- /.nav-item -->
                    <li class="nav__item has-dropdown">
                        <a href="@Url.ActionLink("WorkingPlaces","WorkingArea")" class="nav__item-link">Çalışma Alanları</a>
                    </li><!-- /.nav-item -->
                    <li class="nav__item has-dropdown">
                        <a href="@Url.ActionLink("About","AboutUs")" class="nav__item-link">Hakkımızda</a>
                    </li>
                    <li class="nav__item">
                        <a href="@Url.ActionLink("Contact","AboutUs")" class="nav__item-link">İletişim</a>
                    </li><!-- /.nav-item -->
                </ul><!-- /.navbar-nav -->
                <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
            </div><!-- /.navbar-collapse -->
            <div class="contact__number d-none d-xl-flex align-items-center">
                <i class="icon-phone"></i>
                <a href="tel:5565454117">@Model.FirstOrDefault()?.Number</a>
            </div>
            <ul class="navbar-actions d-none d-xl-flex align-items-center list-unstyled mb-0">
                <li>
                    <a href="~/#request" class="btn btn__primary">
                        <span>Teklif İsteğiniz</span>
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
            </ul><!-- /.navbar-actions -->
        </div><!-- /.container -->
    </nav><!-- /.navabr -->
</header><!-- /.Header -->