@{
    Layout = "_AdminLayout";
}

@model Renewable_Energy_Entities.AboutUs

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Hakkımızda Güncelle</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("AboutUsUpdate", "Admin", FormMethod.Post))
                    {
                        @Html.LabelFor(v => v.Id)
                        @Html.TextBoxFor(v => v.Id, new{@class = "form-control", @readonly="readonly"})

                        @Html.LabelFor(v => v.Title)
                        @Html.TextBoxFor(v => v.Title, new{@class = "form-control"})

                        @Html.LabelFor(v => v.Body)
                        @Html.TextBoxFor(v => v.Body, new{@class = "form-control"})

                        @Html.LabelFor(v => v.ImageUrl)
                        @Html.TextBoxFor(v => v.ImageUrl, new{@class = "form-control"})

                        @Html.LabelFor(v => v.VideoUrl)
                        @Html.TextBoxFor(v => v.VideoUrl, new{@class = "form-control"})

                        @Html.LabelFor(v => v.Vision)
                        @Html.TextBoxFor(v => v.Vision, new{@class = "form-control"})

                        @Html.LabelFor(v => v.Mission)
                        @Html.TextBoxFor(v => v.Mission, new{@class = "form-control"})
                        
                        @Html.LabelFor(v => v.Number)
                        @Html.TextBoxFor(v => v.Number, new{@class = "form-control"})

                        @Html.LabelFor(v => v.Email)
                        @Html.TextBoxFor(v => v.Email, new{@class = "form-control"})
                        
                        @Html.LabelFor(v => v.Address)
                        @Html.TextBoxFor(v => v.Address, new{@class = "form-control"})

                        @Html.LabelFor(v => v.Location)
                        @Html.TextBoxFor(v => v.Location, new{@class = "form-control"})

                        @Html.LabelFor(v => v.WorkingTimes)
                        @Html.TextBoxFor(v => v.WorkingTimes, new{@class = "form-control"})

                        <button class="btn btn-warning">Güncelle</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>