@{
    Layout = "_AdminLayout";
}

@model Renewable_Energy_Entities.Project

<div class="mid-class">
    <div class="art-right-w3ls">
        <h1>Proje Ekle</h1>
        <h5>(Doldurulması zorunlu olan bölümler başında * işareti ile belirtilmiştir.)</h5>
        <br />
        <form action="@Html.BeginForm("ProjectAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    <span style="color:red;">*</span>
                    @Html.LabelFor(v => v.Title)
                    @Html.TextBoxFor(v => v.Title, new { @class = "form-control", @required = "required" })
                    <br />

                    <span style="color:red;">*</span>
                    @Html.LabelFor(v => v.Body)
                    @Html.TextBoxFor(v => v.Body, new { @class = "form-control", @required = "required" })
                    <br />

                    @Html.LabelFor(v => v.ImageUrl)
                    <input type="file" name="ImageFile" id="ImageFile" class="form-control" />
                    <br />

                    @Html.LabelFor(v => v.VideoUrl)
                    @Html.TextBoxFor(v => v.VideoUrl, new { @class = "form-control" })

                    <br />
                    @Html.LabelFor(v => v.ReferenceId)
                    <div id="referencedropdown"></div>
                    <br />

                    <span style="color:red;">*</span>
                    @Html.LabelFor(v => v.CategoryId)
                    <div id="categorydropdown"></div>
                    <br />

                    <button class="btn btn-warning">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownAddCategory", "Admin")?name=CategoryId",
                success: function (jsReturnArgs) {

                    $("#categorydropdown").html(jsReturnArgs);
                }
            });


            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownAddReference", "Admin")?name=ReferenceId",
                success: function (jsReturnArgs) {

                    $("#referencedropdown").html(jsReturnArgs);
                }
            });

        });
    </script>
}