@{
    Layout = "_AdminLayout";
}

@model Renewable_Energy_Entities.Project

<div class="mid-class">
    <div class="art-right-w3ls">
        <h1>Proje Güncelle</h1>
        <h5>(Doldurulması zorunlu olan bölümler başında * işareti ile belirtilmiştir.)</h5>
        <br />
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("ProjectUpdate", "Admin", FormMethod.Post))
                    {
                        @Html.LabelFor(v => v.Id)
                        @Html.TextBoxFor(v => v.Id, new{@class = "form-control", @readonly="readonly"})
                        <br />

                        <span style="color:red;">*</span>
                        @Html.LabelFor(v => v.Title)
                        @Html.TextBoxFor(v => v.Title, new { @class = "form-control", @required = "required" })
                        <br />

                        <span style="color:red;">*</span>
                        @Html.LabelFor(v => v.Body)
                        @Html.TextBoxFor(v => v.Body, new { @class = "form-control", @required = "required" })
                        <br />

                        @Html.LabelFor(v => v.ImageUrl)
                        @Html.TextBoxFor(v => v.ImageUrl, new{@class = "form-control"})
                        <br />

                        @Html.LabelFor(v => v.VideoUrl)
                        @Html.TextBoxFor(v => v.VideoUrl, new{@class = "form-control"})

                        <br />
                        @Html.LabelFor(v => v.ReferenceId)
                        <div id="referencedropdown"></div>
                        <br />

                        <span style="color:red;">*</span>
                        @Html.LabelFor(v => v.CategoryId)
                        <div id="categorydropdown"></div>
                        <br />

                        <button class="btn btn-warning">Güncelle</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownCategory","Admin")?name=CategoryId&value=@Model.CategoryId",
                success: function (jsReturnArgs) {

                    $("#categorydropdown").html(jsReturnArgs);
                }
            });

        });

        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownReference","Admin")?name=ReferenceId&value=@Model.ReferenceId",
                success: function (jsReturnArgs) {

                    $("#referencedropdown").html(jsReturnArgs);
                }
            });

        });
    </script>
}