@using Renewable_Energy_Entities
@model List<WorkingArea>

<div class="wrapper">
    <!-- ========================
       page title
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-overlay-2 bg-parallax text-center">
        <div class="bg-img"><img src="~/images/page-titles/2.jpg" alt="background"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="pagetitle__heading mb-0">Çalışma Alanlarımız</h1>
                    <a href="#features" class="scroll-down">
                        <i class="icon-arrow-down"></i>
                    </a>
                </div><!-- /.col-xl-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.page-title -->
    <!-- ======================
    Features Layout 2
    ========================= -->
    <section id="features" class="features-layout2 pt-120 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5">
                    <h2 class="heading__subtitle color-primary">Yarını Bugünden Farklı Hale Getirmek.</h2>
                    <h3 class="heading__title">Sürdürülebilir ve Güvenilir Enerji Sistemleriyle Topluma Enerji Verin!</h3>
                    <p class="heading__desc mb-20">
                        Son yıllarda güneş enerjisi değer zincirinde yeni kapasiteler ortaya çıktı.
                        PV pazarının büyümesini desteklememiz gerekli. Ancak kurmak ve büyütmek için gereken sermaye çok fazladır.
                        Biz de elimizden geldiği kadarı ile ve yaptığımız projeler ile büyütmeye çalışıyoruz.
                    </p>
                </div><!-- /col-lg-5 -->

                <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
                    <div class="row">
                        <!-- Feature item #1 -->
                        @foreach (var work in Model)
                        {
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <div class="feature__icon">
                                        <img src="@work.ImageUrl">
                                    </div>
                                    <h4 class="feature__title">@work.Title</h4>
                                    <p class="feature__desc">
                                        @work.Body
                                    </p>
                                </div><!-- /.feature-item -->
                            </div>
                            <!-- /.col-sm-6 -->
                        }
                        <div class="col-sm-6">
                            <div class="feature-item feature-item-custom">
                                <div class="feature__icon">
                                    <i class="icon-wind-socket"></i>
                                </div>
                                <h4 class="feature__title">Ödüller</h4>
                                <p class="feature__desc">20 yıla yakın tecrübeden faydalanıyoruz.</p>
                            </div><!-- /.feature-item -->
                        </div><!-- /.col-sm-6 -->
                    </div><!-- /.row -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.Features Layout 2 -->
    <!-- =========================
       Banner layout 2
      =========================== -->
    <section class="banner-layout2 pt-130 pb-130">
        <div class="bg-img">
            <img src="~/images/banners/12.jpg" alt="background">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                    <div class="text-block">
                        <div class="slick-carousel"
                             data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": true, "dots": false'>
                            @foreach (var workdetail in Model)
                            {
                                <div class="heading heading-layout2">
                                    <h3 class="heading__title">@workdetail.Title</h3>
                                    <p class="heading__desc">
                                        @workdetail.Details
                                    </p>
                                </div>
                            }
                        </div>
                    </div><!-- /.text-block -->
                </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.Banner layout 2 -->

    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>

</div><!-- /.wrapper -->