<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Solatec - Solar and Renewable Energy Template">
    <link href="images/favicon/favicon.png" rel="icon">
    <title>Solatec - Solar and Renewable Energy Template</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rubik:400,500,600,700%7cRoboto:400,500,700&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="css/libraries.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="preloader">
            <div class="loading"><span></span><span></span><span></span><span></span></div>
        </div><!-- /.preloader -->
        <!-- ============================
            Slider
        ============================== -->
        <section class="slider">
            <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
                 data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
                <div class="slide-item align-v-h bg-overlay bg-overlay-2">
                    <div class="bg-img"><img src="images/sliders/1.jpg" alt="slide img"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                <div class="slide__body">
                                    <span class="slide__subtitle">
                                        Komple Ticari, Konut ve Endüstriyel Güneş Sistemleri
                                    </span>
                                    <h2 class="slide__title">Gezegenin Geleceğine Yatırım Yapıyoruz!</h2>
                                    <p class="slide__desc">
                                        Dünya çapında güneş enerjisi malzemeleri distribütörü olarak, hızlı ve
                                        Bilgili hizmet, size deniz veya hava yoluyla malzemeleri sağlayabiliriz.
                                    </p>
                                    <div class="d-flex">
                                        <a href="@Url.ActionLink("About","Home")" class="btn btn__primary mr-30">
                                            <i class="icon-arrow-right"></i><span>Hakkımızda Daha Fazla Bilgi</span>
                                        </a>
                                    </div>
                                </div><!-- /.slide__body -->
                            </div><!-- /.col-xl-8 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.slide-item -->
                <div class="slide-item align-v-h bg-overlay">
                    <div class="bg-img"><img src="images/sliders/2.jpg" alt="slide img"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                <div class="slide__body">
                                    <span class="slide__subtitle">
                                        Komple Ticari, Konut ve Endüstriyel Güneş Sistemleri
                                    </span>
                                    <h2 class="slide__title">Güvenilir Enerjiyle Topluma Enerji Verin!</h2>
                                    <p class="slide__desc">
                                        Dünya çapında güneş enerjisi malzemeleri distribütörü olarak, hızlı ve
                                        Bilgili hizmet, size deniz veya hava yoluyla malzemeleri sağlayabiliriz.
                                    </p>
                                    <div class="d-flex">
                                        <a href="@Url.ActionLink("About","Home")" class="btn btn__primary mr-30">
                                            <i class="icon-arrow-right"></i><span>Hakkımızda Daha Fazla Bilgi</span>
                                        </a>
                                    </div>
                                </div><!-- /.slide__body -->
                            </div><!-- /.col-xl-8 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.slide-item -->
            </div><!-- /.carousel -->
        </section><!-- /.slider -->
        <!-- ========================
          About Layout 1
        =========================== -->
        <section class="about-layout1 pt-130 pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
                        <div class="heading__layout2 mb-60">
                            <h2 class="heading__subtitle">Bina ve İnşaat Sektöründe Öncülük Ediyoruz</h2>
                            <h3 class="heading__title">Güneş Enerjisine Hazırız, Tek İhtiyacımız Olan Onu İyi Kullanmak!</h3>
                        </div><!-- /.heading__layout2 -->
                    </div><!-- /.col-lg-7 -->
                </div><!-- /.row -->
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <div class="video-banner-layout2">
                            <img src="images/about/1.jpg" alt="about" class="w-100">
                            <div class="video-has-img">
                                <img src="images/video/1.jpg" alt="video">
                                <a class="video__btn video__btn-white popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                                    <div class="video__player">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </a>
                                <span class="video__btn-title">Tanıtımımızı İzleyin!</span>
                            </div>
                        </div><!-- /.video-banner -->
                    </div><!-- /.col-lg-5 -->
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <div class="about__text">
                            <div class="text__icon">
                                <i class="icon-green-energy3"></i>
                            </div>
                            <p class="heading__desc font-weight-medium color-secondary mb-30">
                                Daha fazlasına geçişi destekliyoruz
                                Sürdürülebilir, güvenilir ve uygun fiyatlı enerji sistemleri. Yenilikçi teknolojilerimizle enerji veriyoruz
                                toplum, amacımız bu!
                            </p>
                            <p class="heading__desc mb-20">
                                Aşırı hava olaylarındaki artış ve deniz seviyelerinin yükselmesi,
                                açık
                                İklim değişikliğinin işaretleri. Yaklaşık 850 milyon insan hâlâ elektriğe erişimi olmadan yaşıyor.
                                sürdürülebilir kalkınmanın temeli.
                            </p>
                            <p class="heading__desc mb-20">
                                Enerjimizi korurken artan elektrik talebini nasıl karşılayabiliriz?
                                iklim
                                ve gezegeni daha iyi bir yer haline getirmek mi?
                            </p>
                            <div class="d-flex align-items-center mt-30">
                                <a href="@Url.ActionLink("About","Home")" class="btn btn__secondary mr-30">
                                    <i class="icon-arrow-right"></i> <span>Daha fazla bilgi edin</span>
                                </a>
                                <img src="images/about/singnture.png" alt="singnture">
                            </div>
                        </div><!-- /.about__text -->
                    </div><!-- /.col-lg-5 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.About Layout 1 -->
        <!-- ======================
        services Layout 2
        ========================= -->
        <section class="services-layout2 pt-120">
            <div class="bg-img"><img src="images/backgrounds/5.jpg" alt="background"></div>
            <div class="container">
                <div class="row mb-70">
                    <div class="col-12">
                        <h2 class="heading__subtitle color-primary">
                            Yarını Bugünden Farklı Hale Getirmek.
                        </h2>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h3 class="heading__title color-white">
                            Üreticiler, Montajcılar ve Montajcılar İçin Lider Güneş Enerjisi Malzemeleri Tedarikçisi
                            Müteahhitler.
                        </h3>
                    </div><!-- /col-lg-5 -->
                    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
                        <p class="heading__desc font-weight-bold color-gray mb-30">
                            Güneş enerjisi işimiz PV oluşturmaya odaklanmıştır
                            malzeme çözümleri
                            Bu, güneş enerjisi ürünlerinin verimini ve performansını artırırken üretim maliyetlerini azaltır.
                        </p>
                        <div class="d-flex align-items-center">
                            <a href="@Url.ActionLink("Reference","Home")" class="btn btn__primary btn__primary-style2 mr-30">
                                <i class="icon-arrow-right"></i>
                                <span>Tüm Hizmetleri Keşfedin</span>
                            </a>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="slick-carousel carousel-arrows-light"
                             data-slick='{"slidesToShow": 4, "slidesToScroll": 4, "arrows": true, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2, "slidesToScroll": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'>
                            <!-- service item #1 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="images/services/1.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">
                                        Solar paneller
                                    </h4>
                                    <p class="service__desc">

                                        Bir PV modülü, bir çerçeveye monte edilmiş fotovoltaik hücrelerin bir araya getirilmesidir.
                                        kurulum hücreleri güneş ışığını kaynak olarak kullanır
                                    </p>
                                    <a href="~/solatec/services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>
                                            Devamını oku
                                        </span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                            <!-- service item #2 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="images/services/2.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">
                                        Rüzgar türbinleri
                                    </h4>
                                    <p class="service__desc">
                                        Akü şarjı gibi uygulamalar için kullanılan en küçük türbinler
                                        hücreler
                                        yardımcı bir çerçeveye monte edilmiştir.
                                    </p>
                                    <a href="~/solatec/services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>
                                            Devamını oku
                                        </span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                            <!-- service item #3 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="images/services/3.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">
                                        Hidroelektrik Santraller
                                    </h4>
                                    <p class="service__desc">
                                        Hidroelektrik santraller, enerjiden yararlanmak için bir rezervuar içerebilir.
                                        en küçük türbinlerden düşen su.
                                    </p>
                                    <a href="~/solatec/services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>
                                            Devamını oku
                                        </span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                            <!-- service item #4 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="images/services/4.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">
                                        Fosil Kaynakları
                                    </h4>
                                    <p class="service__desc">

                                        Yeşil kimya, temiz ve yeşil sağladığı için ilgi görüyor
                                        uygulamalar için kullanılan teknolojiler.
                                    </p>
                                    <a href="~/solatec/services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>
                                            Devamını oku
                                        </span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                            <!-- service item #5 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="images/services/5.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">Pil Malzemeleri</h4>
                                    <p class="service__desc">

                                        Lityum piller çoğu uygulamada tercih edilen pil türü haline geldi
                                        yüksek enerji nedeniyle
                                    </p>
                                    <a href="~/solatec/services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>Devamını oku</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                            <!-- service item #6 -->
                            <div class="service-item">
                                <div class="service__img">
                                    <img src="images/services/6.jpg" alt="service" loading="lazy">
                                </div><!-- /.service__img -->
                                <div class="service__body">
                                    <h4 class="service__title">
                                        Şarj Kontrolörleri
                                    </h4>
                                    <p class="service__desc">
                                        Şarj kontrolörleri, invertörünüzden cihazınıza gelen şarj oranını düzenler.
                                        pil bankası kontrol cihazlarımıza göz atmanız yeterli.
                                    </p>
                                    <a href="~/solatec/services-single-service.html" class="btn btn__secondary btn__outlined btn__custom">
                                        <span>Devamını oku</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div><!-- /.service__body -->
                            </div><!-- /.service-item -->
                        </div><!-- /.carousel-->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <p class="read-note__text">
                            <strong class="color-white">
                                Daha sürdürülebilir, güvenilir ve
                                Uygun fiyatlı enerji sistemleri
                            </strong>
                        </p>
                    </div><!-- /.col-lg-5 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.services Layout 2 -->
        <!-- ======================
        Features Layout 2
        ========================= -->
        <section class="features-layout2 pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h2 class="heading__subtitle color-primary">
                            Yarını Bugünden Farklı Hale Getirmek.
                        </h2>
                        <h3 class="heading__title">Sürdürülebilir ve Güvenilir Enerji Sistemleriyle Topluma Enerji Verin!</h3>
                        <p class="heading__desc mb-30">
                            Son yıllarda güneş enerjisi değer zincirinde yeni kapasiteler ortaya çıktı.
                            haline gelmek
                            PV pazarının büyümesini desteklemek için gerekli. Ancak kurmak ve büyütmek için gereken sermaye
                            gofret, güneş pili ve güneş modülü üretim tesisleri oldukça fazladır.
                        </p>
                        <p class="heading__desc mb-40">
                            Bu faktörler hep birlikte sürdürülebilir operasyon ve
                            Küresel güneş enerjisi üreticilerinin büyümesi.
                        </p>
                        <a href="@Url.ActionLink("WorkingPlaces","Home")" class="btn btn__primary btn__outlined btn__custom mb-40">
                            <i class="icon-arrow-right"></i>
                            <span>Çalışma Alanlarımızı Keşfedin!</span>
                        </a>
                    </div><!-- /col-lg-5 -->
                    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
                        <div class="row">
                            <!-- Feature item #1 -->
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <div class="feature__icon">
                                        <i class="icon-hydro-power3"></i>
                                    </div>
                                    <h4 class="feature__title">Paranızı Tasarruf Edin</h4>
                                    <p class="feature__desc">

                                        Tesisatlardan tasarruf edin veya kurulum yaparak evinizin değerini artırın
                                    </p>
                                </div><!-- /.feature-item -->
                            </div><!-- /.col-sm-6 -->
                            <!-- Feature item #2 -->
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <div class="feature__icon">
                                        <i class="icon-biosphere"></i>
                                    </div>
                                    <h4 class="feature__title">
                                        5 Yıldızlı Müşteri Hizmetleri
                                    </h4>
                                    <p class="feature__desc">

                                        Her seferinde müşteri beklentilerimizin üzerine çıkmamız gerektiğini anlayın.
                                        etkileşim her zaman.
                                    </p>
                                </div><!-- /.feature-item -->
                            </div><!-- /.col-sm-6 -->
                            <!-- Feature item #3 -->
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <div class="feature__icon">
                                        <i class="icon-eco-house"></i>
                                    </div>
                                    <h4 class="feature__title">Eviniz Enerjidir</h4>
                                    <p class="feature__desc">

                                        Güneş her gün bize güneş enerjisini yerleştirerek bol miktarda bedava enerji sağlar.
                                    </p>
                                </div><!-- /.feature-item -->
                            </div><!-- /.col-sm-6 -->
                            <!-- Feature item #4 -->
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <div class="feature__icon">
                                        <i class="icon-energy2"></i>
                                    </div>
                                    <h4 class="feature__title">
                                        Danışmanlık ve Planlama
                                    </h4>
                                    <p class="feature__desc">
                                        Uzak endüstriyel güneş enerjisi sistemlerimiz, güvenilir bir şekilde enerji sağlamak üzere tasarlanmıştır.
                                        müşteriler
                                    </p>
                                </div><!-- /.feature-item -->
                            </div><!-- /.col-sm-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.Features Layout 2 -->
        <!-- ======================
        portfolio Layout 3
         ========================= -->
        <section class="portfolio-layout3 portfolio-carousel pt-120">
            <div class="bg-img"><img src="images/backgrounds/5.jpg" alt="background"></div>
            <div class="container">
                <div class="row mb-60">
                    <div class="col-12">
                        <h2 class="heading__subtitle color-primary">Güneş Enerjisinin Performansının Artırılması.</h2>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <h3 class="heading__title color-white">
                            En Son Projeler, Çözümler ve Enerji Tedarikleri
                        </h3>
                    </div><!-- /col-lg-5 -->
                    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
                        <p class="heading__desc font-weight-bold color-gray mb-30">

                            Yenilikçi teknolojilerimizle, net bir şekilde odaklanma
                            bizim ihtiyaçları
                            müşterilerimiz ve 1.210 kendini adamış çalışanımızla topluma enerji veriyoruz. Yarını bugünden farklı kılalım!
                        </p>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="carousel-container">
                            <div class="slick-carousel carousel-arrows-light carousel-dots-light"
                                 data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": true, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2 ,"slidesToScroll": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2,"slidesToScroll": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1,"slidesToScroll": 1}}]}'>
                                <!-- portfolio item #1 -->
                                <div class="portfolio-item">
                                    <div class="portfolio__img">
                                        <img src="images/portfolio/grid/1.jpg" alt="portfolio img">
                                    </div><!-- /.portfolio-img -->
                                    <div class="portfolio__body">
                                        <div class="portfolio__cat">
                                            <a href="#">
                                                Finans
                                            </a><a href="#">Tedarik zinciri</a>
                                        </div><!-- /.portfolio-cat -->
                                        <h4 class="portfolio__title"><a href="#">Güneş Enerjisi Tedarik Zinciri Finansman Programının Genişletilmesi</a></h4>
                                        <p class="portfolio__desc">
                                            Güneş enerjisi tedarik zinciri finansmanının (SCF) genişletildiğini duyurduk
                                            PV modül üreticileri için program...
                                        </p>
                                        <a href="~/solatec/projects-single-project.html" class="btn btn__primary btn__sm">
                                            <i class="icon-arrow-right"></i>
                                            <span>
                                                Daha Fazlasını Keşfedin
                                            </span>
                                        </a>
                                    </div><!-- /.portfolio__body -->
                                </div><!-- /.portfolio-item -->
                                <!-- portfolio item #2 -->
                                <div class="portfolio-item">
                                    <div class="portfolio__img">
                                        <img src="images/portfolio/grid/2.jpg" alt="portfolio img">
                                    </div><!-- /.portfolio-img -->
                                    <div class="portfolio__body">
                                        <div class="portfolio__cat">
                                            <a href="#">Rüzgar enerjisi</a><a href="#">
                                                Yenilikler
                                            </a>
                                        </div><!-- /.portfolio-cat -->
                                        <h4 class="portfolio__title">
                                            <a href="#">
                                                Rüzgar Enerjisi İnovasyon Zorluklarının Ele Alınması
                                            </a>
                                        </h4>
                                        <p class="portfolio__desc">
                                            Güneş enerjisi tedarik zinciri finansmanının (SCF) genişletildiğini duyurduk
                                            PV modül üreticileri için program...
                                        </p>
                                        <a href="~/solatec/projects-single-project.html" class="btn btn__primary btn__sm">
                                            <i class="icon-arrow-right"></i>
                                            <span>
                                                Daha Fazlasını Keşfedin
                                            </span>
                                        </a>
                                    </div><!-- /.portfolio__body -->
                                </div><!-- /.portfolio-item -->
                                <!-- portfolio item #3 -->
                                <div class="portfolio-item">
                                    <div class="portfolio__img">
                                        <img src="images/portfolio/grid/3.jpg" alt="portfolio img">
                                    </div><!-- /.portfolio-img -->
                                    <div class="portfolio__body">
                                        <div class="portfolio__cat">
                                            <a href="#">
                                                Elektrikli araç
                                            </a><a href="#">
                                                Altyapılar
                                            </a>
                                        </div><!-- /.portfolio-cat -->
                                        <h4 class="portfolio__title">
                                            <a href="#">
                                                EV Şarj Altyapılarını Yönetmenin Daha Akıllı Yolları
                                            </a>
                                        </h4>
                                        <p class="portfolio__desc">
                                            Güneş enerjisi tedarik zinciri finansmanının (SCF) genişletildiğini duyurduk
                                            PV modül üreticileri için program...
                                        </p>
                                        <a href="~/solatec/projects-single-project.html" class="btn btn__primary btn__sm">
                                            <i class="icon-arrow-right"></i>
                                            <span>
                                                Daha Fazlasını Keşfedin
                                            </span>
                                        </a>
                                    </div><!-- /.portfolio__body -->
                                </div><!-- /.portfolio-item -->
                                <!-- portfolio item #4 -->
                                <div class="portfolio-item">
                                    <div class="portfolio__img">
                                        <img src="images/portfolio/grid/4.jpg" alt="portfolio img">
                                    </div><!-- /.portfolio-img -->
                                    <div class="portfolio__body">
                                        <div class="portfolio__cat">
                                            <a href="#">
                                                Yeşil enerji
                                            </a><a href="#">
                                                EKO
                                            </a>
                                        </div><!-- /.portfolio-cat -->
                                        <h4 class="portfolio__title">
                                            <a href="#">
                                                Yenilenebilir Enerjiye Yönelik Yeni Kamu Tutum Takibi
                                            </a>
                                        </h4>
                                        <p class="portfolio__desc">
                                            Güneş enerjisi tedarik zinciri finansmanının (SCF) genişletildiğini duyurduk
                                            PV modül üreticileri için program...
                                        </p>
                                        <a href="~/solatec/projects-single-project.html" class="btn btn__primary btn__sm">
                                            <i class="icon-arrow-right"></i>
                                            <span>
                                                Daha Fazlasını Keşfedin
                                            </span>
                                        </a>
                                    </div><!-- /.portfolio__body -->
                                </div><!-- /.portfolio-item -->
                                <!-- portfolio item #5 -->
                                <div class="portfolio-item">
                                    <div class="portfolio__img">
                                        <img src="images/portfolio/grid/5.jpg" alt="portfolio img">
                                    </div><!-- /.portfolio-img -->
                                    <div class="portfolio__body">
                                        <div class="portfolio__cat">
                                            <a href="#">
                                                Altyapılar
                                            </a><a href="#">
                                                Gaz
                                            </a>
                                        </div><!-- /.portfolio-cat -->
                                        <h4 class="portfolio__title"><a href="#">Doğal Gazın Tehlikeli Çevresel Etkileri</a></h4>
                                        <p class="portfolio__desc">
                                            Güneş enerjisi tedarik zinciri finansmanının (SCF) genişletildiğini duyurduk
                                            PV modül üreticileri için program...
                                        </p>
                                        <a href="~/solatec/projects-single-project.html" class="btn btn__primary btn__sm">
                                            <i class="icon-arrow-right"></i>
                                            <span>
                                                Daha Fazlasını Keşfedin
                                            </span>
                                        </a>
                                    </div><!-- /.portfolio__body -->
                                </div><!-- /.portfolio-item -->
                                <!-- portfolio item #6 -->
                                <div class="portfolio-item">
                                    <div class="portfolio__img">
                                        <img src="images/portfolio/grid/6.jpg" alt="portfolio img">
                                    </div><!-- /.portfolio-img -->
                                    <div class="portfolio__body">
                                        <div class="portfolio__cat">
                                            <a href="#">
                                                Finans
                                            </a><a href="#">
                                                Tedarik zinciri
                                            </a>
                                        </div><!-- /.portfolio-cat -->
                                        <h4 class="portfolio__title">
                                            <a href="#">
                                                Güneş Enerjisi Tedarik Zinciri Finansman Programının Genişletilmesi
                                            </a>
                                        </h4>
                                        <p class="portfolio__desc">
                                            Güneş enerjisi tedarik zinciri finansmanının (SCF) genişletildiğini duyurduk
                                            PV modül üreticileri için program...
                                        </p>
                                        <a href="~/solatec/projects-single-project.html" class="btn btn__primary btn__sm">
                                            <i class="icon-arrow-right"></i>
                                            <span>
                                                Daha Fazlasını Keşfedin
                                            </span>
                                        </a>
                                    </div><!-- /.portfolio__body -->
                                </div><!-- /.portfolio-item -->
                            </div><!-- /.carousel-->
                            <a href="@Url.ActionLink("Project","Home")" class="view-projects d-none d-xl-flex">Tüm Projeler</a>
                        </div><!-- /.carousel-container -->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.portfolio Layout 3 -->
        <!-- ======================
          Blog Grid
        ========================= -->
        <section class="post-grid pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                        <div class="heading text-center mb-50">
                            <h3 class="heading__title">
                                Bazı Bloglar
                            </h3>
                        </div><!-- /.heading -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                    <!-- Post Item #1 -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="post-item">
                            <div class="post__img">
                                <a href="~/solatec/blog-single-post.html">
                                    <img src="images/blog/grid/1.jpg" alt="post image" loading="lazy">
                                </a>
                                <span class="post__date">
                                    20 Ocak 2020
                                </span>
                            </div><!-- /.post-img -->
                            <div class="post__body">
                                <div class="post__meta d-flex align-items-center">
                                    <div class="post__cat">
                                        <a href="#">
                                            Petrol gazı
                                        </a><a href="#">
                                            Analizler
                                        </a>
                                    </div><!-- /.post-meta-cat -->
                                    <a class="post__author" href="#">Mike Dooley</a>
                                </div><!-- /.post-meta -->
                                <h4 class="post__title">
                                    <a href="#">
                                        2020'de Güneş Enerjisi İzinleri Verilecek mi? Aşağıdaki Önemli Noktaları Göz önünde bulundurun
                                        Faktörler
                                    </a>
                                </h4>
                                <p class="post__desc">
                                    Güneş sisteminize izin verirken tüm bu faktörlerin dikkate alınması önemlidir.
                                    ve sürecinizi kolaylaştırmanıza yardımcı olabilir. Düşünmek için zaman ayırın...
                                </p>
                                <a href="~/solatec/blog-single-post.html" class="btn btn__secondary btn__outlined btn__custom">
                                    <i class="icon-arrow-right"></i>
                                    <span>
                                        Devamını oku
                                    </span>
                                </a>
                            </div><!-- /.post-content -->
                        </div><!-- /.post-item -->
                    </div><!-- /.col-lg-4 -->
                    <!-- Post Item #2 -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="post-item">
                            <div class="post__img">
                                <a href="~/solatec/blog-single-post.html">
                                    <img src="images/blog/grid/2.jpg" alt="post image" loading="lazy">
                                </a>
                                <span class="post__date">
                                    20 Ocak 2020
                                </span>
                            </div><!-- /.post-img -->
                            <div class="post__body">
                                <div class="post__meta d-flex align-items-center">
                                    <div class="post__cat">
                                        <a href="#">
                                            Petrol gazı
                                        </a><a href="#">
                                            Analizler
                                        </a>
                                    </div><!-- /.post-meta-cat -->
                                    <a class="post__author" href="#">Mike Dooley</a>
                                </div><!-- /.post-meta -->
                                <h4 class="post__title">
                                    <a href="#">
                                        2020'de Güneş Enerjisi İzinleri Verilecek mi? Aşağıdaki Önemli Noktaları Göz önünde bulundurun
                                        Faktörler
                                    </a>
                                </h4>
                                <p class="post__desc">

                                    Piller güneş enerjisi sisteminin en pahalı parçasıdır. Bir arasında
                                    uygun boyuttaki pil bankası ve Outback Ra gibi pil tabanlı bir invertör
                                </p>
                                <a href="~/solatec/blog-single-post.html" class="btn btn__secondary btn__outlined btn__custom">
                                    <i class="icon-arrow-right"></i>
                                    <span>
                                        Devamını oku
                                    </span>
                                </a>
                            </div><!-- /.post-content -->
                        </div><!-- /.post-item -->
                    </div><!-- /.col-lg-4 -->
                    <!-- Post Item #3 -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="post-item">
                            <div class="post__img">
                                <a href="~/solatec/blog-single-post.html">
                                    <img src="images/blog/grid/3.jpg" alt="post image" loading="lazy">
                                </a>
                                <span class="post__date">
                                    20 Ocak 2020
                                </span>
                            </div><!-- /.post-img -->
                            <div class="post__body">
                                <div class="post__meta d-flex align-items-center">
                                    <div class="post__cat">
                                        <a href="#">Petrol Gazı</a><a href="#">
                                            Analizler
                                        </a>
                                    </div><!-- /.post-meta-cat -->
                                    <a class="post__author" href="#">Mike Dooley</a>
                                </div><!-- /.post-meta -->
                                <h4 class="post__title">
                                    <a href="#">

                                        2020'de Güneş Enerjisi İzinleri Verilecek mi? Aşağıdaki Önemli Noktaları Göz önünde bulundurun
                                        Faktörler
                                    </a>
                                </h4>
                                <p class="post__desc">

                                    Enerji Bakanlığı, bu nedenle iyileştirmeler için altı ekibe fon sağladık
                                    hava sahasını yeni rüzgarla paylaşan kartalları koruyacak teknolojiler...
                                </p>
                                <a href="~/solatec/blog-single-post.html" class="btn btn__secondary btn__outlined btn__custom">
                                    <i class="icon-arrow-right"></i>
                                    <span>
                                        Devamını oku
                                    </span>
                                </a>
                            </div><!-- /.post-content -->
                        </div><!-- /.post-item -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog Grid -->
        <!-- ===========================
          contact layout 2
        ============================= -->
        <section id="request" class="contact-layout2 pb-0 bg-overlay bg-overlay-primary-gradient">
            <div class="bg-img"><img src="images/banners/2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="col-inner">
                            <div class="heading-layout2 heading-light mb-60">
                                <h2 class="heading__subtitle">Paradan Tasarruf Edin, Çevreyi Koruyun!</h2>
                                <h3 class="heading__title">
                                    Devam Eden Ürün ve Yenilik Yoluyla Müşterilerimize Değer Sağlıyoruz.
                                </h3>
                                <p class="heading__desc">
                                    Güneş enerjisi işimiz artık bazı ürünler için tercih edilen pazarlama kanalını sağlıyor.
                                    dünyanın önde gelen PV üreticileri ve güneş enerjisi uzmanlarımız, ortaklarıyla birlikte çalışarak
                                    ürün özellikleri, teslim sürelerinin kısaltılması ve nakit akışının iyileştirilmesi.
                                </p>
                            </div><!-- /.heading -->
                            <div class="row fancybox-light">
                                <!-- fancybox item #1 -->
                                <div class="col-sm-4">
                                    <div class="fancybox-item">
                                        <div class="fancybox__icon">
                                            <i class="icon-biosphere2"></i>
                                        </div><!-- /.fancybox-icon -->
                                        <div class="fancybox__content">
                                            <h4 class="fancybox__title mb-0">
                                                Çevre Duyarlılığı
                                            </h4>
                                        </div><!-- /.fancybox-content -->
                                    </div><!-- /.fancybox-item -->
                                </div><!-- /.col-sm-4 -->
                                <!-- fancybox item #2 -->
                                <div class="col-sm-4">
                                    <div class="fancybox-item">
                                        <div class="fancybox__icon">
                                            <i class="icon-tube"></i>
                                        </div><!-- /.fancybox-icon -->
                                        <div class="fancybox__content">
                                            <h4 class="fancybox__title mb-0">
                                                Kişiselleştirilmiş Çözümler
                                            </h4>
                                        </div><!-- /.fancybox-content -->
                                    </div><!-- /.fancybox-item -->
                                </div><!-- /.col-sm-4 -->
                                <!-- fancybox item #3 -->
                                <div class="col-sm-4">
                                    <div class="fancybox-item">
                                        <div class="fancybox__icon">
                                            <i class="icon-electric-charge"></i>
                                        </div><!-- /.fancybox-icon -->
                                        <div class="fancybox__content">
                                            <h4 class="fancybox__title mb-0">
                                                Performans ölçüleri
                                            </h4>
                                        </div><!-- /.fancybox-content -->
                                    </div><!-- /.fancybox-item -->
                                </div><!-- /.col-sm-4 -->
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.col-xl-6 -->
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                        <div class="contact-panel">
                            <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm"
                                  novalidate="novalidate">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <h4 class="contact-panel__title">
                                            Bir teklif isteği
                                        </h4>
                                    </div> <!-- /.col-lg-12 -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="İsim Soyisim" id="contact-name" name="contact-name"
                                                   required>
                                        </div>
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email" id="contact-email"
                                                   name="contact-email" required>
                                        </div>
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Telefon Numarası" id="contact-Phone"
                                                   name="contact-phone">
                                        </div>
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Adres" id="contact-address"
                                                   name="contact-address" required>
                                        </div>
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-12">
                                        <span class="font-weight-bold color-heading d-block mb-15 mt-10">
                                            İstekler
                                        </span>
                                    </div><!-- /.col-12 -->
                                    <div class="form-group">
                                            <textarea class="form-control" placeholder="Ek" id="contact-ek"
                                                   name="contact-ek" required></textarea>
                                        </div>
                                    <div class="col-12">
                                        <span class="font-weight-bold color-heading d-block mb-15 mt-10">Tercih Edilen İletişim Yöntemi</span>
                                        <div class="d-flex">
                                            <div class="form-group input-radio mr-30">
                                                <label class="label-radio">
                                                    Hepsi
                                                    <input type="radio" name="contact" checked>
                                                    <span class="radio-indicator"></span>
                                                </label>
                                            </div><!-- /.input-radio -->
                                            <div class="form-group input-radio mr-30">
                                                <label class="label-radio">
                                                    Email
                                                    <input type="radio" name="contact">
                                                    <span class="radio-indicator"></span>
                                                </label>
                                            </div><!-- /.input-radio -->
                                            <div class="form-group input-radio">
                                                <label class="label-radio">
                                                    Telefon
                                                    <input type="radio" name="contact">
                                                    <span class="radio-indicator"></span>
                                                </label>
                                            </div><!-- /.input-radio -->
                                        </div>
                                        <button type="submit" class="btn btn__secondary btn__block">
                                            <i class="icon-arrow-right"></i> <span>
                                                İstek gönderin
                                            </span>
                                        </button>
                                        <div class="contact-result"></div>
                                    </div><!-- /.col-12 -->
                                </div><!-- /.row -->
                            </form>
                        </div>
                    </div><!-- /.col-xl-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact layout 2 -->
        <!-- =====================
             Clients
          ======================== -->
        <section class="clients clients-layout2 border-bottom py-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="slick-carousel"
                             data-slick='{"slidesToShow": 3, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 3}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
                            <div class="client">
                                <a href="#"><img src="images/clients/1.png" alt="client"></a>
                            </div><!-- /.client -->
                            <div class="client">
                                <a href="#"><img src="images/clients/2.png" alt="client"></a>
                            </div><!-- /.client -->
                            <div class="client">
                                <a href="#"><img src="images/clients/3.png" alt="client"></a>
                            </div><!-- /.client -->
                            <div class="client">
                                <a href="#"><img src="images/clients/4.png" alt="client"></a>
                            </div><!-- /.client -->
                            <div class="client">
                                <a href="#"><img src="images/clients/5.png" alt="client"></a>
                            </div><!-- /.client -->
                            <div class="client">
                                <a href="#"><img src="images/clients/6.png" alt="client"></a>
                            </div><!-- /.client -->
                            <div class="client">
                                <a href="#"><img src="images/clients/3.png" alt="client"></a>
                            </div><!-- /.client -->
                            <div class="client">
                                <a href="#"><img src="images/clients/4.png" alt="client"></a>
                            </div><!-- /.client -->
                        </div><!-- /.carousel -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <strong class="text-center d-block mt-40">

                            Formu doldurduğunuzda 3-5 gün içerisinde doğru fiyat teklifi alırsınız.
                            Bu sayfadaki form. Ya da bizi arayın:
                            <a href="tel:00201061245741" class="text-underlined-primary">(002) 01061245741</a>
                        </strong>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.clients -->
       
        <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>

    </div><!-- /.wrapper -->

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>